<% products.forEach(function (a){ %>
    <% var x = a.image_groups.filter(function (b) {
        return b.view_type === "large";
    }); %>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/<%= x[0].images[0].link %>">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= a.name %></span>
            <% if(a.price_max !== a.price){ %>
                <strike><%= a.price_max %></strike>
                <p>$<%= a.price %></p>
            <% } %>
            <p><a href="/get-product/<%= a.id %>"><%= a.name %></a></p>
        </div>
    </div>
<% }) %>

<style>
    .card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
    }
</style>