<div class="container">
    <div class="row">
        <%
        products.forEach(element => {
            var image = element.image_groups.filter(image => image.view_type === "large");
        %>
        <div class="col s6">
            <div class="card large">
                <div class="card-image">
                    <img class="activator responsive-img"
                         src="images/<%= image[0].images[0].link %>"
                         style="margin:0;padding:0;object-fit: contain">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= element.name %></span>
                    <% if(element.price_max !== element.price && element.price_max){ %>
                        <strike><%= '$' + element.price_max %></strike>
                    <% } %>
                    <p>$<%= element.price %></p>
                    <p><a href="/get-product/<%= element.id %>">See more</a></p>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<style>
    .card-content {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .container {
        margin: auto;
    }
</style>